<%= simple_form_for @expense do |form|%>
  
      
      <div class="span2">
        <%=form.input :item_name, :placeholder  => "Fruits, Lunch, etc ...", :input_html => {:class => 'input_width'}%>
      </div>
      
      <div class="span2">
        <%=form.input :category_id, :collection => ExpenseCategory.all.collect{|ec| [ec.name, ec.id]}, :prompt => "Select"%>
      </div>
      
      <div class="span2">
        <%=form.input :item_price, :placeholder => 'In Rupees', :input_html => {:class => 'input_width'}%>
      </div>
      
      <div class="span2">
        <button class="button-orange fl default-button">Add</button>
      </div>
      
    
  
<% end %>
<!-- 

<div class="control-group">
<label class="" for="inputEmail">Email</label>
<div class="controls">
  <input type="text" id="inputEmail" placeholder="Email">
</div>
</div>

-->

