
<%= simple_form_for @expense, :html => { :class => 'form-horizontal' } do |form|%>
  <%=form.input :item_name, :placeholder  => "Fruits, Lunch, etc ...", :input_html => {:class => "input_width" }%>
  <%=form.input :item_price, :placeholder => 'In Rupees', :input_html => {:class => "input_width" }%>
  <%=form.input :category_id, :collection => ExpenseCategory.all.collect{|ec| [ec.name, ec.id]}, :prompt => "Select"%>
<% end %>
<!-- 

<div class="control-group">
<label class="" for="inputEmail">Email</label>
<div class="controls">
  <input type="text" id="inputEmail" placeholder="Email">
</div>
</div>

-->

