
<%=flash_message %>
<%= content_tag :div, '', id:'expenses', style:"display:none", 
    data: { expenses: Expense.all } 
%>


<div class="span11 template">
  <h2 class="t-heading"> Add item list </h2>
  <%=render :partial => "form"%>
  <%#=render Expense.all%>
</div>
